{% extends 'base.html' %}{% block  content%}  
{% if open_lists|length == 0 %}
<!-- <form action="/shopping_lists/new" method="post"> -->
    <div>
        No open lists. Perhaps you should <a href="/lists/new">create one</a>?
        <!-- No open lists. Perhaps you should <input type="submit" value="create one">? -->
    </div>
<!-- </form> -->
{% else %}
    <form action="/lists/add" method="post" class="container-row">   
        <div>
            <h2>Quick Add</h2>
            <!-- Add an item to any open list 
            <br /><br /> -->
            <div class="index-add-row">
                <label for="item">I need: </label>
                <select class="dropdown"id="item" name="item_id">
                    <option disabled="disabled" selected="selected" class="grey-text" value=" ">Pick an item</option>
                    {% for item in all_items %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
                <!-- <label for="quantity">Qty: </label>
                    <input class="small-int" type="number" name="quantity" id="quantity" value="1"/> -->
                    <div id="centre-input" class="form__group">
                        <input type="number" class="form__field w-100" name="quantity" id="quantity" value="1">
                        <label for="quantity" class="form__label"> Qty </label>
                    </div>            
            </div>
        </div>
        <br />
        <div class="add-an-item"> 
            <label for="shopping_list">Add to: </label>
            <select class="dropdown" name="list_id" id="shopping_list">
                {% for list in open_lists %}
                    <option value="{{list.id}}">{{list.name}} from {{ list.date_created }}</option>
                {% endfor %}
            </select>
        </div>
            <br />
        <div class="centre-button">
            <button class="button2">
                <span>Add Item</span>
            </button>
        </div>
            <!-- <div class="form-buttons"> -->
                <!-- <input type="submit" value="Add item"> -->
            <!-- </div> -->
            <!-- <br />
            <br /> -->
{% endif %}   
</form>
<hr />
<div class="shopping">
    <h2>Let's Go Shopping</h2>
    select one of the lists below when you're ready to go shopping
    <ul>
        {% for list in open_lists  %}
        <li><a href="/lists/shop/{{list.id}}/1">{{list.name}}</a> with {{ list.selection|length }}
            {% if list.selection|length == 1 %}
            item,
            {% else %}
            items,
            {% endif %}
            created {{ list.date_created }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock  %}
