{% extends 'base.html' %}{% block  content%}  
{% if open_lists|length == 0 %}
<!-- <form action="/shopping_lists/new" method="post"> -->
    <div>
        No open lists. Perhaps you should <a href="/lists/new">create one</a>?
        <!-- No open lists. Perhaps you should <input type="submit" value="create one">? -->
    </div>
<!-- </form> -->
{% else %}
<form action="/lists/add" method="post" class="container-row">   
    <div class="add-an-item">
        <h2>Quick Add an Item!</h2>
        <label for="item">Item: </label>
        <select id="item" name="item_id">
            <option disabled="disabled" selected="selected" class="grey-text"
                value=" ">Pick an item to add!</option>
            {% for item in all_items %}
                <option value="{{ item.id }}">{{ item.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="add-an-item"> 
            <label for="shopping_list">Open Lists: </label>
            <select name="list_id" id="shopping_list">
                {% for list in open_lists %}
                <option value="{{list.id}}">List created on {{ list.date_created }}</option>
                {% endfor %}
            </select>
            <br />
            <br />
        </div>
        <div class="form-buttons">
            <input type="submit" value="Add item">
        </div>
        <br />
        <br />
        {% endif %}   
</form>
<hr />
<h2>Let's Go Shopping!!!</h2>
<ul>
    {% for list in open_lists  %}
        <li><a href="/lists/shop/{{list.id}}/1">Shopping List</a> with {{ list.selection|length }}
            {% if list.selection|length == 1 %}
                item,
            {% else %}
                items,
            {% endif %}
             created on {{ list.date_created }}
            {% if list.date_shopped != None %}
                and was shopped on {{ list.date_shopped }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock  %}
