{% extends 'base.html' %}
{% block  content%}  
<h2>
    SITEMAP
</h2>

<ul class="site-map">
    <li><a href="/">Home Page</a>
        <ul style="margin-left:2em;">
            <li>Quickly add an item to an open shopping list.</li>
            <li>(if no open lists exist, create one)</li>
            <li>Activate Shopping Mode on an open shopping list.</li>
        </ul>
    </li>
    <li><a href="/items">Items</a>
        <ul style="margin-left:2em;">
            <li>Show all the items listed. Allow for sorting in various ways.</li>
            <li>Delete an item</li>
            <li>Edit an item</li>
            <li>Edit a category name</li>
        </ul>
    </li>
    <li><a href="/lists">Shopping Lists</a>
        <ul style="margin-left:2em;">
            <li>Create a new shopping list</li>
            <li>Show all the shopping lists, the number of items, when created and when shopped</li>
            <li>Show all the content of a shopping list and allow deletion of items</li>
            <li>Delete a shopping list</li>
        </ul>
    </li>
    <li><a href="/categories">Categories</a>
        <ul style="margin-left:2em;">
            <li>Create a new category</li>
            <li>view all categories</li>
            <li>edit a category</li>
</ul>
{% endblock  %}
