{% extends 'base.html' %}{% block  content%}  
<section>
    <h2 class="section-title">Add a Category</h2>
        <form class="add-a-new-thing" action="/categories/new" method="post" class="container-row">
            <div class="centered-input">
                <div class="form__group">
                    <input type="text" class="form__field_text w-100" name="category_name" id="category_name">
                    <label for="category_name" class="form__label">category name </label>
                </div>
            </div>  
            <br />
            <div class="centre-button">
                <button class="button2">
                    <span>Add Category</span>
                </button>
            </div>  
        </form>
        <br />
        <hr />
            <div class="add-a-new-thing">
                <h4>Existing Categories</h4>
                <ul>
                    {% for category in all_categories %}
                    <li>
                        {{ category.name }}
                    </li>
                    {% endfor %}
                </ul>
              </div>
            <br />
            <br />
    </section>
{% endblock  %}