{% extends 'base.html' %}

{% block  content%}  
    <section>
            <h2 class="section-title">The Book List</h2>
        <div class="container row">
            {% for book in book_list %}
                <div class="book-card">
                    <h5>{{ book.title }}</h5>
                
                   
                    <p class="author">{{ book.author }}</p>
                    <p class="genre">{{ book.genre }}</p>
                    <p>
                        <a href="/books/{{book_list.index(book)}}">Show Book</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock  %}