{% extends 'base.html' %}

{% block  content%}  
    <h2>Book Details</h2>
        <div class="book-card">
            <p>
                {{ book.title }}  
            </p>  
            <p>
                <b>{{ book.author }}</b>
            </p>
            <p>{{ book.genre }}</p>
        </div>
        <section class="form-items">
            <form action="{{request.path}}" method="post">
                <!-- {{ book.checked_in }} -->
                <label for="checkin">Book is checked in</label>
                {% if  book.checked_in  %}
                <input type="checkbox" name="check-in" 
                    id="checkin" checked onclick="toggle_check_in">    
                {% else %}
                <input type="checkbox" name="check-in" 
                    id="checkin" onclick="toggle_check_in">
                {% endif %}
            </form>
            {% set url_path =  request.path %}
            <form action="{{request.path}}/delete" method="post">
                <input type="submit" value="Delete This Book" id="delete-book">
            </form>
        </section>
{% endblock  %}