{% extends 'base.html' %}

{% block  content%}  
    <p>
        <h2 class="main-title">The Book List</h2>
    </p>
    <br />
    {% for book in book_list %}
        <div class="book-card">
            <p>
                <b>
                    {{ book.title }}:  
                </b>
            </p>
            <p>
                {{ book.author }}
            </p>
            <p>{{ book.genre }}</p>

            <p>
                <a href="/books/{{book_list.index(book)}}"">Show Book</a>
            </p>
        </div>
        <br />
    {% endfor %}
{% endblock  %}