{% extends 'base.html' %}

{% block  content%}  
    <section class="single-book">
        <h2 class="section-title">Book Details</h2>
        <div class="book-card">
            <h4>
                {{ book.title }}  
            </h4>
            <p>
                <b>{{ book.author }}</b>
            </p>
            <p>{{ book.genre }}</p>
        </div>
        <div class="form-buttons">
            <form action="{{request.path}}" method="post">
                <!-- {{ book.checked_in }} -->
                {% if  book.checked_in  %}
                    <label for="checkin">Book is checked in</label>
                    <input type="checkbox" name="check-in" 
                        id="checkin" checked onclick="toggle_check_in">    
                    <input type="submit" value="Check Out" id="check-out-book">
                {% else %}
                    <label for="checkout">Book is checked out</label>
                    <input type="checkbox" name="check-out" 
                        id="checkout" onclick="toggle_check_in">
                    <input type="submit" value="Check In" id="check-in-book">
                {% endif %}
            </form>
            <br />
            <!-- {% set url_path =  request.path %} -->
            <!-- <form action="{{request.path}}/delete" method="post"> -->
            <!-- <form action="/books/{{book_list.index(book)}}/delete" method="post"> -->
            <form action="/books/{{index}}/delete" method="post">
                <input type="submit" value="Delete This Book" id="delete-book">
            </form>
        </div>
    </section>
{% endblock  %}