{% extends 'base.html' %}

{% block  content%}  
    <h2 class="main-title">Add a book</h2>
    <form action="/books/new" method="post">
        <label for="title">Book Title:</label>
        <input type="text" name="book_title" id="title" placeholder="Enter the book title"/>
        
        <br />
        <br />
        
        <label for="author">Author:</label>
        <input type="text" name="book_author" id="author" placeholder="Enter the author"/>
        
        <br />
        <br />
        
        <label for="genre">Genre:</label>
        <input type="text" name="book_genre" id="genre" placeholder="Enter the genre"/>
       
        <br />
        <br />
       
        <input type="submit" value="Add book">
    </form>
{% endblock  %}