/* trash-can delete button */
.btn {
    background-color: transparent;
    position: relative;
    border: none;
  }
  
  .btn::after {
    content: 'delete';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: #d30c7b;
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: #ffe3dc;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
  }
  
  .icon {
    transform: scale(1.2);
    transition: .2s linear;
  }
  
  .btn:hover > .icon {
    transform: scale(1.5);
  }
  
  .btn:hover > .icon path {
    fill: rgb(168, 7, 7);
  }
  
  .btn:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
  }
/* horizontal slide buttons */
.button2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #124e78;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
 }
 
 .button2:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #d30c7b;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
 }
 
 .button2:hover::after {
  right: auto;
  left: 0;
  width: 100%;
 }
 
 .button2 span {
  text-align: center;
  text-decoration: none;
  width: auto;
  padding: 18px 20px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
 }
 
 .button2:hover span {
  color: #a2ad91;
  animation: scaleUp 0.3s ease-in-out;
 }
 
 .centre-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

 @keyframes scaleUp {
  0% {
   transform: scale(1);
  }
 
  50% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(1);
  }
 }
 /* input stuff */
 .form__group {
  position: relative;
}

.form__field {
  border: 1px solid #d30c7b !important;
  border-radius: 5px;
  background-color: #ffe3dc;
  box-sizing: border-box;
  /* box-sizing:30px; */
  color: #d30c7b;
  height: 40px;
  width: 60px;
  padding: 0rem 5px;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  top: 10px;
  border-right: none;
  border-left: none;
}

.form__field_text {
  border: 1px solid #d30c7b !important;
  border-radius: 5px;
  background-color: #ffe3dc;
  box-sizing: border-box;
  /* box-sizing:30px; */
  color: #d30c7b;
  height: 30px;
  width: 160px;
  padding: 0rem 5px;
}

.form__field_text::placeholder {
  color: transparent;
}

.form__field_text:placeholder-shown ~ .form__label {
  top: 10px;
  border-right: none;
  border-left: none;
}

.form__label {
  background-color: #ffe3dc;
  border-left: 1px solid #d30c7b;
  border-right: 1px solid #d30c7b;
  color: #d30c7b;
  display: flex;
  font-size: .9em;
  margin-left: 4px;
  padding: 0 10px;
  pointer-events: none;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}

.form__field:focus {
  border: 1px solid #d30c7b !important;
  outline: none;
}

.form__field:focus ~ .form__label {
  background-color: #ffe3dc;
  border-right: 1px solid #d30c7b;
  border-left: 1px solid #d30c7b;
  color: #d30c7b;
  font-size: .9em;
  margin-left: 10px;
  padding: 0 10px;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}

/* number dropdowns - for quantity */

.dropdown {
    width: auto;
    height: 30px;
    border: 1px solid #d30c7b;
    font-size: 15px;
    color: #d30c7b;
    background-color: #ffe3dc;
    border-radius: 5px;
    box-shadow: 4px 4px #a2ad91;
  margin-right: 7px;
}

#centre-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* checkbox */
