{% extends 'base.html' %}{% block  content%}  
<nav>
    <ul class="nav-list">
        {% if p_i_id!= 0 %}
            <li><a href="/lists/{{list_id}}/edit/{{p_i_id}}">prev item</a></li>
        {% else %}
            <li>first item</li>
        {% endif %}
        <li><a href="/lists/{{list_id}}/1">back</a></li>
        {% if n_i_id != 0 %}
            <li><a href="/lists/{{list_id}}/edit/{{n_i_id}}">next item</a></li>
        {% else %}
            <li>last item</li>
        {% endif %}
    </ul>
</nav>
<section>
    <form action="/lists/{{list_id}}/edit/{{item.id}}" method="post" class="container-row">   
        <div>
            Update the quantity for {{item.name}} <br /><br />
            <div id="centre-input" class="form__group">
                <input type="number" class="form__field w-100" name="quantity" id="quantity" value="1">
                <label for="quantity" class="form__label"> Qty </label>
            </div>
        </div>
        <br/>
        <br/>
        <div class="centre-button">
            <button class="button2">
                <span>Update Qty</span>
            </button>
        </div>
        <br />
        <br />
</section>

{% endblock  %}