{% extends 'base.html' %}{% block  content%}  

{% if lists != None %}
    <ul>
        {% for list in lists %}
        {% if list.date_shopped == None %}
            <ul>{{ list.id }} created on {{ list.date_created }}</ul>
        {% else %}
            <ul>{{ list.id }} created on {{ list.date_created }} was shopped on 
                {{ list.date_shopped }}
            </ul>
        {% endif %}
            <ol>
                {% for item in list.selection %}
                    <li>
                        {{ item.item.name}} has been selected: {{ item.selected }}
                    </li> 
                
                {% endfor %}
            </ol>            
        {% endfor %}
    </ul>
{% else %}
    There are no shopping lists. Perhaps you want to create one?
{% endif %}
{% endblock  %}