{% extends 'base.html' %}{% block  content%}  
<nav>
    <a class="nav-list" href="/lists">back</a>
</nav>
<p>
    <a href="/lists/new">Create a new list</a>
</p>
{% if lists != None %}
    <ul>
        {% for list in all_lists %}
        <ul><a href="/lists/{{list.id}}/1">{{ list.name }}</a> has {{ list.selection|length }}
            {% if list.selection|length == 1 %}
                item, 
            {% else %}
                items,
            {% endif %}
            on {{ list.date_created }}
            {% if list.date_shopped != None %}
                was shopped {{ list.date_shopped }}
            {% endif %}
        </ul>
        {% endfor %}
    </ul>
{% else %}
    There are no shopping lists. Perhaps you want to <a href="/lists/new" method="post">create one</a>?
{% endif %}
<hr />

<form action="/lists/delete" method="post">
    <div class="add-an-item">
        <label for="shopping_list">Shopping List: </label>
        <select class="dropdown" id="shopping_list" name="list_id">
            <option value=" ">select list to be deleted</option>
            {% for list in all_lists %}
                <option value="{{ list.id }}">{{ list.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br />
    <br />
    <div class="centre-button">
        <button class="button2"><span>Delete List</span></button>
    </div>
</form>
<br />
<br />

{% endblock  %}