{% extends 'base.html' %}{% block  content%}  
<form action="/shopping_lists/new" method="post">
    <div>
       <input type="submit" value="new list">
    </div>
</form>

{% if lists != None %}
    <ul>
        {% for list in lists %}
        <ul><a href="/lists/{{list.id}}">List {{ list.id }}</a> has {{ list.selection|length }}
            {% if list.selection|length == 1 %}
                item, 
            {% else %}
                items,
            {% endif %}
            created on {{ list.date_created }}
            {% if list.date_shopped != None %}
                and was shopped on {{ list.date_shopped }}
            {% endif %}
        </ul>
        {% endfor %}
    </ul>
{% else %}
    There are no shopping lists. Perhaps you want to <a href="/shopping_lists/new" method="post">create one</a>?
{% endif %}
{% endblock  %}