{% extends 'base.html' %}{% block  content%}  
<nav>
    <a href="/lists">back</a>
</nav>
<section>
    <h2 class="section-title">Create a new shopping list</h2>
    Add an item to start your list off.
    <br />
    <br />
    <form action="/lists/new" method="post" class="container-row">   
        <div class="add-an-item">
            <label for="item">Item: </label>
            <select class="dropdown" id="item" name="item_id">
                <option value=" ">Pick an item</option>
                {% for item in all_items %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>

            <div class="form__group">
                <input type="number" class="form__field w-100" name="quantity" id="quantity" value="1">
                <label for="quantity" class="form__label"> Qty </label>
            </div>
            <!-- <label for="quantity">Qty: </label> -->
            <!-- <input type="number" name="quantity" id="quantity" value="1"/> -->
        </div>
        <br />
        <br />
        <div class="centre-button">
            <button class="button2">
                <span>Create List</span>
            </button>
        </div>
        <!-- <div class="form-buttons">
            <input type="submit" value="Create List!">
        </div> -->
        <br />
        <br />
    </form>
</section>
{% endblock  %}