{% extends 'base.html' %}{% block  content%}  
<nav>
    <a href="/lists">back</a>
</nav>
<section>
    <form action="/lists/new" method="post" class="container-row">   
        <h2 class="section-title">New list</h2>
        <div class="form__group">
            <input type="text" class="form__field_text w-100" name="list_name" id="list_name", value="List Name">
            <label for="list_name" class="form__label"> Name </label>
        </div>
        
        <br />
        Add an item to start your list off.
        <br />
        <br />
        <div class="add-an-item">
            <label for="item">Item: </label>
            <select class="dropdown" id="item" name="item_id">
                <option value="1">Pick an item</option>
                {% for item in all_items %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>

            <div class="form__group">
                <input type="number" class="form__field w-100" name="quantity" id="quantity" value="1">
                <label for="quantity" class="form__label"> Qty </label>
            </div>
        </div>
        <br />
        <br />
        <div class="centre-button">
            <button class="button2">
                <span>Create List</span>
            </button>
        </div>
        <br />
        <br />
    </form>
</section>
{% endblock  %}