{% extends 'base.html' %}{% block  content%}  
<nav>
    <ul class="nav-list">
        {% if prev_id!= 0 %}
            <li><a href="/lists/{{prev_id}}/{{order}}">prev list</a></li>
        {% endif %}
        <li><a href="/lists">back</a></li>
        {% if next_id != 0 %}
            <li><a href="/lists/{{next_id}}/{{order}}">next list</a></li>
        {% endif %}
    </ul>
</nav>
<div>
    <ul class="sort-orders">
        <li><a href="/lists/{{list.id}}/1">category</a></li>
        <li><a href="/lists/{{list.id}}/2">alphabetical</a></li>
        <li><a href="/lists/{{list.id}}/3">outstanding</a></li>
    </ul>
</div>
<ul class="thing-listing">
    {% for sel_item in list.selection|sort(attribute='id') %}
        {% set prev_index = list.selection.index(sel_item) -1 %}
        {% if order == 1 and ((sel_item.item.category.name != list.selection[prev_index].item.category.name ) or prev_index == -1) %}
            <h4>{{sel_item.item.category.name}}</h4>            
        {% endif %}
        <li>
            {% if active %}
                <form action="/lists/{{list.id}}/update/{{sel_item.item.id}}">
                    {% if sel_item.selected %}
                    <button>
                        <span>&#9989</span>
                    </button>
                    {% else %}
                    <button>
                        <span>&#10060</span>
                    </button>
                    {% endif %} 
                </form>
            {% else %}
                {% if sel_item.selected %}
                    <span>&#9989</span>
                {% else %}
                    <span>&#10060</span>
                {% endif %} 
            {% endif %}
            <a href="/lists/{{list.id}}/edit/{{sel_item.item.id}}">
                {{ sel_item.quantity }} x {{ sel_item.item.name}} 
            </a>
            <form action="/lists/{{list.id}}/delete/{{sel_item.item.id}}" method="post">
                <button class="trash-button"><i class="fa fa-trash-o fa-1x" style="color:#124e78"></i></button>               
            </form>
        </li>                     
    {% endfor %}
</ol>            

{% endblock  %}