{% extends 'base.html' %}{% block  content%}  
<nav >
    <a href="/items">back</a>
    <ul class="sort-orders">
        <li><a href="/items/new">add a new item</a></li>
        <li><a href="/items">category order</a></li>
        <li><a href="/items/view/2">alphabetical</a></li>
    </ul>
</nav>
<ul>
    {% for item in items %}
        {% set prev_index = items.index(item) -1 %}
        {% if (item.category.name != items[prev_index].category.name ) 
                or prev_index == -1 %}
                <h3><a href="/items/{{item.category.id}}/cat">{{item.category.name}}</a></h3>
        {% endif %}
        <form action="/items/{{item.id}}/delete" method="POST">
        <ul class="delete-item"><a href="/items/{{item.id}}">{{ item.name }}</a>
                <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
            </ul>
        </form>
    {% endfor %}
</ul>
{% endblock  %}
