    {% extends 'base.html' %}{% block  content%}  
<nav>
    <a href="/items">back</a>
</nav>
<section>
    <h2 class="section-title">Edit an Item</h2>
    <form action="/items/{{item.id}}" method="post" class="container-row">

        <div class="centered-input">
            <div class="form__group">
                <input type="text" class="form__field_text w-100" name="item_name" id="name", value={{item.name}}>
                <label for="item_name" class="form__label">Item Name: </label>
            </div>
        </div>
        <br />
        <div class="add-an-item">
            <label for="category">Category: </label>
            <select class="dropdown" id="category" name="category_id">
                {% for category in all_categories %}
                    <option value="{{ category.id }}"
                    {% if item.category.id== category.id %} selected="selected"{% endif %}>
                    {{ category.name }}
                {% endfor %}
            </select>
        </div>
        <br/>
        <br/>
        <div class="centre-button">
            <button class="button2">
                <span>Update Item</span>
            </button>
        </div>
        <br />
        <br />      
    </form>
</section>

{% endblock  %}